<div class="title-block">
  <h3 class="title pull-left">
    Billing <span class="sparkline bar"></span>
  </h3>
  <div class="pull-right">
    <button class="btn-sm btn btn-primary-outline" (click)="onRefresh()">
      <i class="fa fa-refresh"></i>
    </button>
  </div>
</div>
<section class="section">
  <div class="row text-center" *ngIf="!isLoaded">
    Loading...
  </div>
  <div class="row" *ngIf="isLoaded">
    <ctn-billing-card [bill]="bill" [currency]="currency"></ctn-billing-card>
    <ctn-currency-card [currency]="currency"></ctn-currency-card>
  </div>
</section>
