<p class="text-xs-center">Sign in</p>
<div *ngIf="message.text" class="alert alert-{{message.type}}">
  {{message.text}}
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group" [ngClass]="{'has-error': form.get('email').invalid && form.get('email').touched}">
    <label for="email">Email</label>
    <input
      type="text"
      class="form-control underlined"
      id="email"
      placeholder="Enter email"
      formControlName="email"
    >
      <span class="form-help-text" *ngIf="form.get('email').invalid && form.get('email').touched">
      <span *ngIf="form.get('email')['errors']">
        Please enter a valid E-mail.
      </span>
      <span *ngIf="form.get('email')['errors']['required']">
        E-mail can not be empty.
      </span>
    </span>
  </div>
  <div class="form-group" [ngClass]="{'has-error': form.get('password').invalid && form.get('password').touched}">
    <label for="password">Password</label>
    <input
      type="password"
      class="form-control underlined"
      id="password"
      placeholder="Password"
      formControlName="password"
    >
      <span class="form-help-text" *ngIf="form.get('password').invalid && form.get('password').touched">
        <span *ngIf="form.get('password')['errors']['minlength'] && form.get('password')['errors']['minlength']['requiredLength']">
          Password must be longer than {{form.get('password')['errors']['minlength']['requiredLength']}} characters.
          Now is {{form.get('password')['errors']['minlength']['actualLength']}}
        </span>
        <span *ngIf="form.get('password')['errors']['required']">
          Password can not be empty.
        </span>
      </span>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-block btn-primary" [disabled]="form.invalid">Log in</button>
  </div>
  <div class="form-group">
    <p class="text-muted text-xs-center">
      Not have account ? <a [routerLink]="'/registration'">Sign Up!</a>
    </p>
  </div>
</form>
