<div class="card">
  <div class="card-header bordered">
    <div class="header-block">
      <h3 class="title">Add action</h3>
    </div>
  </div>
  <div class="card-block">
    <div class="alert alert-{{message.type}}" *ngIf="message.text">
      {{message.text}}
    </div>
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
      <div class="form-group">
        <label class="control-label" for="category">Select a category</label>
        <select class="form-control" id="category"
                [ngModel]="1"
                name="category"
                required>
          <option *ngFor="let category of categories" [value]="category.id">
            {{category.name}}
          </option>
        </select>
      </div>
      <div class="form-group"
      >
        <label class="control-label">Select type</label>
        <div *ngFor="let type of types">
          <label>
            <input
              class="radio"
              name="type"
              type="radio"
              [value]="type.type"
              [ngModel]="'expenses'"
              required
            >
            <span>{{type.label}}</span>
          </label>
        </div>
      </div>
      <div class="form-group"
           [ngClass]="{'has-error': amount.invalid && amount.touched}"
      >
        <label class="control-label" for="amount">Enter amount</label>
        <input type="number"
               id="amount"
               class="form-control"
               name="amount"
               [ngModel]="1"
               min="1"
               #amount="ngModel"
               required
        >
        <span class="form-help-text" *ngIf="amount.invalid && amount.touched">
          The field can not be empty
        </span>
      </div>
      <div class="form-group"description
           [ngClass]="{'has-error': description.invalid && description.touched}"
      >
        <label class="control-label" for="description">Enter description</label>
        <textarea type="text"
               id="description"
               class="form-control"
               name="description"
               ngModel
               #description="ngModel"
               required
        ></textarea>
        <span class="form-help-text" *ngIf="description.invalid && description.touched">
          The field can not be empty
        </span>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Add</button>
    </form>
  </div>
</div>
