<section class="section">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header bordered">
          <div class="header-block">
            <h3 class="title">Event List</h3>
          </div>
          <div class="form-inline pull-right m-r-2">
            <div class="form-group">
              <input type="text"
                     class="form-control"
                     [placeholder]="searchPlaceholder"
                     [(ngModel)]="searchValue">
            </div>
            <div class="btn-group" ctnDropdown>
              <button type="button" class="btn btn-secondary dropdown-toggle ">
                Options
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" (click)="changeOption('amount')">Amount</a>
                <a class="dropdown-item" (click)="changeOption('date')">Date</a>
                <a class="dropdown-item" (click)="changeOption('category')">Category</a>
                <a class="dropdown-item" (click)="changeOption('type')">Type</a>
              </div>
            </div>
          </div>
        </div>
        <div class="card-block">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>#</th>
              <th>Amount</th>
              <th>Date</th>
              <th>Category</th>
              <th>Type</th>
              <th class="text-lg-center">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let event of events | ctnFilter:searchValue:searchField; let index = index">
              <th scope="row">{{index + 1}}</th>
              <td>{{event.amount | number: '1.2'}}</td>
              <td>{{event.date | ctnMoment: 'DD.MM.YYYY HH:mm:ss '}}</td>
              <td>{{event.categoryName}}</td>
              <td>
                <span [ngClass]="getEventClass(event)">
                  <span *ngIf="event.type === 'income'">Income</span>
                  <span *ngIf="event.type === 'expenses'">Expenses</span>
                </span>
              </td>
              <td class="text-lg-center">
                <a [routerLink]="['/system/log', event.id]" class="btn btn-primary-outline">More</a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
