<p class="text-xs-center">Registration</p>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group"
       [ngClass]="{'has-error': form.get('email').invalid && form.get('email').touched}">
    <label for="email">Email</label>
    <input
      type="text"
      class="form-control underlined"
      id="email"
      placeholder="Enter email"
      formControlName="email"
    >
      <span class="form-help-text" *ngIf="form.get('email').invalid && form.get('email').touched">
        <span *ngIf="form.get('email')['errors']">
          Please enter a valid E-mail.
        </span>
        <span *ngIf="form.get('email')['errors']['required']">
          E-mail can not be empty.
        </span>
        <span *ngIf="form.get('email')['errors']['forbiddenEmail']">
          Email already registered.
        </span>
      </span>
  </div>
  <div class="form-group"
       [ngClass]="{'has-error': form.get('password').invalid && form.get('password').touched}">
    <label for="password">Password</label>
    <input
      type="password"
      class="form-control underlined"
      id="password"
      placeholder="Enter password"
      formControlName="password"
    >
      <span class="form-help-text" *ngIf="form.get('password').invalid && form.get('password').touched">
        <span *ngIf="form.get('password')['errors']['minlength'] && form.get('password')['errors']['minlength']['requiredLength']">
          Password must be longer than {{form.get('password')['errors']['minlength']['requiredLength']}} characters.
          Now is {{form.get('password')['errors']['minlength']['actualLength']}}
        </span>
        <span *ngIf="form.get('password')['errors']['required']">
          Password can not be empty.
        </span>
      </span>
  </div>
  <div class="form-group"
       [ngClass]="{'has-error': form.get('name').invalid && form.get('name').touched}">
    <label for="name">Name</label>
    <input
      type="text"
      class="form-control underlined"
      id="name"
      placeholder="Enter name"
      formControlName="name"
    >
      <span class="form-help-text" *ngIf="form.get('name').invalid && form.get('name').touched">
        <span *ngIf="form.get('name')['errors']['required']">
          Name can not be empty.
        </span>
      </span>
  </div>
  <div class="form-group"
       [ngClass]="{'has-error': form.get('agree').invalid && form.get('agree').touched}">
    <label for="agree">
      <input class="checkbox" id="agree" type="checkbox" formControlName="agree">
      <span>I agree with the rules</span>
    </label>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-block btn-primary" [disabled]="form.invalid">Sign Up</button>
  </div>
  <div class="form-group">
    <p class="text-muted text-xs-center">
      Already have an account?
      <a [routerLink]="'/login'">
        Sign In!
      </a>
    </p>
  </div>
</form>
