<aside class="sidebar">
  <div class="sidebar-container">
    <div class="sidebar-header">
      <div class="brand">
        <div class="logo">
          <span class="l l1"></span>
          <span class="l l2"></span>
          <span class="l l3"></span>
          <span class="l l4"></span>
          <span class="l l5"></span>
        </div>
        Home Accounting
      </div>
    </div>
    <nav class="menu">
      <ul class="nav metismenu">
        <li routerLinkActive="active">
          <a [routerLink]="['/system', 'billing']"> <i class="fa fa-building-o"></i> Billing </a>
        </li>
        <li routerLinkActive="active">
          <a [routerLink]="['/system', 'log']"> <i class="fa fa-flash"></i> Log </a>
        </li>
        <li routerLinkActive="active">
          <a [routerLink]="['/system', 'planning']"> <i class="fa fa-archive"></i> Planning </a>
        </li>
        <li routerLinkActive="active">
          <a [routerLink]="['/system', 'entry']"> <i class="fa fa-plus-square"></i> Entry </a>
        </li>
      </ul>
    </nav>
  </div>
</aside>
