<div class="title-block">
  <h3 class="title">
    Planning <span class="sparkline bar"></span>
  </h3>
</div>
<section class="section" *ngIf="!isLoaded">
  Loading...
</section>
<section class="section" *ngIf="isLoaded">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-sm bordered">
          <div class="header-block">
            <h3 class="title">Expense</h3>
          </div>
          <h5 class="planning-expenses pull-right">
            Total balance: <span class="text-success">{{billing.value | number: '1.2'}} USD</span>
          </h5>
        </div>
        <div class="card-block">
          <div class="row" *ngFor="let category of categories">
            <div class="col-xs-6">
              <div class="n-progress">
                <div class="progress-bar {{getCategoryColor(category)}}" [ngStyle]="{width: getCategoryPercentString(category)}">
                  <span>{{category.name}}</span>
                </div>
              </div>
            </div>
            <div class="col-xs-6">
              <p>
                <span class="text-{{getCategoryColor(category)}}">{{getCategoryCost(category) | number: '1.2'}}</span>
                of
                <span class="text-primary">{{category.capacity | number: '1.2'}}</span>
                |
                remainder <span class="text-{{getCategoryColor(category)}}">{{category.capacity - getCategoryCost(category) | number: '1.2'}}</span> (USD)
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
