<div class="text-center" *ngIf="!isLoaded">Loading...</div>
<div *ngIf="isLoaded">
  <div class="title-block">
    <h3 class="title">
      <a [routerLink]="['/system/log']"><i class="fa fa-arrow-left"></i></a>
      Event № {{event.id}}
      <span class="sparkline bar"></span>
    </h3>
  </div>
  <section class="section">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
        <div class="card" [ngClass]="{'card-success': event.type === 'income', 'card-danger': event.type === 'expenses'}">
          <div class="card-header">
            <div class="header-block">
              <p class="title">
                <span *ngIf="event.type === 'income'">Income</span>
                <span *ngIf="event.type === 'expenses'">Expenses</span>
              </p>
            </div>
          </div>
          <div class="card-block">
            <ul>
              <li>Amount: <strong>{{event.amount | number: '1.2'}}</strong></li>
              <li>Category: <strong>{{category.name}}</strong></li>
              <li>Description: <strong>{{event.description}}</strong></li>
            </ul>
          </div>
          <div class="card-footer">{{event.date}}</div>
        </div>
      </div>
    </div>
  </section>
</div>

