<div class="card">
  <div class="card-header bordered">
    <div class="header-block">
      <h3 class="title">Edit Category</h3>
    </div>
  </div>
  <div class="card-block">
    <div class="alert alert-{{message.type}}" *ngIf="message.text">
      {{message.text}}
    </div>
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
      <div class="form-group">
        <label class="control-label" for="e-category-name">Select a category</label>
        <select id="select-category" class="form-control"
                [(ngModel)]="currentCategoryId"
                (change)="onCategoryChange()"
                [ngModelOptions]="{standalone: true}">
          <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
        </select>
      </div>
      <div class="form-group"
           [ngClass]="{'has-error': name.invalid && name.touched}">
        <label class="control-label" for="e-category-name">Enter the title for category</label>
        <input type="text"
               id="category-name"
               class="form-control"
               required
               #name="ngModel"
               name="name"
               [ngModel]="currentCategory.name">
        <span
          *ngIf="name.invalid && name.touched"
          class="form-help-text">
          Category name can not be empty
        </span>
      </div>
      <div class="form-group"
           [ngClass]="{'has-error': capacity.invalid && capacity.touched}">
        <label class="control-label" for="e-category-value">Enter a limit</label>
        <input type="number"
               value="1"
               id="e-category-value"
               class="form-control"
               [ngModel]="currentCategory.capacity"
               name="capacity"
               #capacity="ngModel"
               required
               min="1">
        <span
          *ngIf="capacity.invalid && capacity.touched"
          class="form-help-text">Field name can not be empty</span>
      </div>
      <button type="submit" [disabled]="form.invalid" class="btn btn-primary">Edit</button>
    </form>
  </div>
</div>
