<div class="col col-xs-12 col-sm-12 col-md-6 col-xl-7 history-col">
  <div class="card">
    <div class="card-block">
      <div class="title-block">
        <h4 class="title">Rates</h4>
      </div>
      <div class="row row-sm stats-container">
        <table class="table table-hover">
          <thead>
          <tr>
            <th>Currency</th>
            <th>Rates</th>
            <th>Date</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Dollar</td>
            <td>1</td>
            <td>{{currency.date | ctnMoment: 'YYYY-MM-DD'}}</td>
          </tr>
          <tr *ngFor="let value of currencies">
            <td>{{value}}</td>
            <td>{{currency.rates[value]}}</td>
            <td>{{currency.date | ctnMoment: 'YYYY-MM-DD'}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
