<div class="modal fade in">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="closeFilter()">
          <span>×</span>
        </button>
        <h4 class="modal-title">Filter</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label class="control-label" for="period">Selected period</label>
          <select class="form-control" id="period" [(ngModel)]="selectedPeriod">
            <option *ngFor="let period of timePeriods" [value]="period.type">{{period.label}}</option>
          </select>
        </div>
        <div class="form-group">
          <label class="control-label">Select the type of event</label>
          <div>
            <label *ngFor="let type of types">
              <input
                class="checkbox"
                type="checkbox"
                [value]="type.type"
                (change)="handleChangeType($event.target)"
              >
              <span>{{type.label}}</span>
            </label>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label">Select categories</label>
          <div>
            <label *ngFor="let cetegory of categories">
              <input
                class="checkbox"
                type="checkbox"
                [value]="cetegory.id"
                (change)="handleChangeCategory($event.target)"
              >
              <span>{{cetegory.name}}</span>
            </label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeFilter()">Отмена</button>
          <button type="button" class="btn btn-primary" (click)="applyFilter()">Применить</button>
        </div>
      </div>
    </div>
  </div>
</div>
