<header class="header">
  <div class="header-block header-block-search">
    {{date | date: 'dd.MM.yyyy'}}
  </div>
  <div class="header-block header-block-nav">
    <ul class="nav-profile">
      <li class="profile dropdown" ctnDropdown>
        <a class="nav-link dropdown-toggle" role="button">
          <span class="name">
              Hello, {{user.name}}
          </span>
        </a>
        <div class="dropdown-menu profile-dropdown-menu">
          <a class="dropdown-item" [routerLink]="['/system', 'entry']"> <i class="fa fa-gear icon"></i>Add entry</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="onLogOut()"><i class="fa fa-power-off icon"></i>Log Out</a>
        </div>
      </li>
    </ul>
  </div>
</header>
