<div class="title-block">
  <h3 class="title">
    Entry <span class="sparkline bar"></span>
  </h3>
</div>
<section class="section text-center" *ngIf="!isLoaded">
  Loading...
</section>
<section class="section" *ngIf="isLoaded">
  <div class="row">
    <div class="col-md-6">
      <ctn-add-event [categories]="categories"></ctn-add-event>
    </div>
    <div class="col-md-6">
      <ctn-add-category (onCategoryAdd)="newCategoryAdded($event)"></ctn-add-category>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <ctn-edit-category [categories]="categories" (onCategoryEdit)="categoryWasEdited($event)"></ctn-edit-category>
    </div>
  </div>
</section>
