<div class="card">
  <div class="card-header bordered">
    <div class="header-block">
      <h3 class="title">Add category</h3>
    </div>
  </div>
  <div class="card-block">
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
      <div class="form-group"
      [ngClass]="{'has-error': name.invalid && name.touched}">
        <label class="control-label" for="category-name">Enter the title for category</label>
        <input type="text"
               id="category-name"
               class="form-control"
               required
               #name="ngModel"
               name="name"
               ngModel>
        <span
          *ngIf="name.invalid && name.touched"
          class="form-help-text">
          Category name can not be empty
        </span>
      </div>
      <div class="form-group"
           [ngClass]="{'has-error': capacity.invalid && capacity.touched}">
        <label class="control-label" for="category-value">Enter a limit</label>
        <input type="number"
               value="1"
               id="category-value"
               class="form-control"
               [ngModel]="1"
               name="capacity"
               #capacity="ngModel"
               required
               min="1">
        <span
          *ngIf="capacity.invalid && capacity.touched"
          class="form-help-text">Field name can not be empty</span>
      </div>
      <button type="submit" [disabled]="form.invalid" class="btn btn-primary">Add</button>
    </form>
  </div>
</div>
