<div class="title-block">
  <h3 class="title pull-left">
    Log <span class="sparkline bar"></span>
  </h3>
  <div class="pull-right">
    <button class="btn-sm btn btn-primary-outline" (click)="openFilter()">
      <i class="fa fa-filter"></i>
    </button>
  </div>
</div>
<div class="text-center" *ngIf="!isLoaded">
  Loading...
</div>
<div *ngIf="isLoaded">
  <ctn-log-chart [data]="chartData"></ctn-log-chart>
  <ctn-log-events [categories]="categories" [events]="filterEvents"></ctn-log-events>
  <div *ngIf="isFilterShowing">
    <ctn-log-filter [categories]="categories" (onFilterApply)="onFilterApply($event)" (onFilterCancel)="onFilterCancel()"></ctn-log-filter>
  </div>
</div>
